* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Estilos para el header */
nav {
    background: #252850;
    height: 80px;
    width: 100%;
}

.enlace-logo {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #ffff;
    font-size: 12px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover {
    background: #27D1DC;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #ffff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

html {
    font-size: 1rem;
    height: 100%;
}

/* Estilos para el body */

body, header, main, footer {
    /* border: 3px rgb(238, 11, 11) solid; */
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
}

body {
    /* background-color: #2f2f2f; */
    background-color: #f2f2f2;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

main {
    min-height: 100px;
    overflow: auto;
    background-color: #ffffff;
}

footer {
    background-color: rgb(255, 255, 255);
}

/* contenido principal de mi sitio */
main>div {
    /* border: 2px rgb(0, 0, 223) solid; */
    min-height: 180px;
    margin: 0.5rem;
    height: auto;
    width: 65%;
    float: left;
}

main>aside {
    /* border: 2px rgb(0, 0, 223) solid; */
    min-height: 180px;
    min-width: 25%;
    margin: 0.5rem;
    float: left;
    width: auto;
}

.secciones {
    /* border: 2px rgb(4, 168, 4) solid; */
    min-height: 50px;
    margin: 0.5rem;
}

.secciones article {
    /* border: 2px rgb(134, 2, 134) solid; */
    margin: 0.5rem;
    min-height: 20px;
}

.gif-ppal {
    width: 100%;
}

.img-obi-wan, .img-historias {
    max-width: 25%;
}

.gif-ppal {
    max-width: 50%;
}

/* Estilos para el footer */
.main-footer {
    width: 100%;
    background-color: #0a141d;
    
}
.main-footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.main-footer .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-footer .grupo-1 .box figure img {
    width: 250px;
}
.main-footer .grupo-1 .box h2 {
    color: #ffff;
    margin-bottom: 25px;
    font-size: 20px;
}
.main-footer .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}
.main-footer .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    line-height: 45px;
    color: #ffff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.main-footer .grupo-1 .box a:hover {
    color: rgb(0, 255, 255);
}
.main-footer .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #ffff;
}
.main-footer .grupo-2 small {
    font-size: 15p;
}

/* Media queries header */
@media (max-width: 952px) {
    .enlace-logo {
        padding-left: 20px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #5C14C5;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    li a.active, li a:hover {
        background: none;
        color: rgb(255, 0, 0);   
    }
    #check:checked ~ ul {
        left: 0;
    }
}

/* media queries footer */
@media screen and (max-width:800px) {
    .main-footer .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}